 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 72px auto 0;
}

.u-section-1 .u-list-1 {
  width: 976px;
  margin: 87px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 558px;
  grid-gap: 50px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-1 .u-text-3 {
  margin: -190px 0 0 108px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-group-2 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 44px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: -190px 0 0 108px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-group-3 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 44px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  margin: -190px 0 0 108px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 17px 0 29px 108px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-group-4 {
  min-height: 190px;
  height: auto;
  width: 90px;
  margin: 0 313px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 44px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  margin: -190px 0 0 108px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 17px 0 0 108px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 538px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    line-height: 0.8;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 115px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 115px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    min-height: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 90px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 90px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 90px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 737px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 13px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -90px;
    margin-left: 110px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 13px;
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-2 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-1 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-6 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-3 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-1 .u-text-8 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-9 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-4 {
    width: 65px;
    margin-right: 255px;
  }

  .u-section-1 .u-text-11 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-12 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 89px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 925px;
}

.u-section-2 .u-form-1 {
  height: 872px;
  margin: 0 195px 12px 0;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 470px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}